<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Thêm mới" style="
                            background: #fff;
                            color: #1d4e89;
                            border: 1px solid #1d4e89;
                            margin-right: 5px;
                        " icon="pi pi-plus" class="button-radius me-2" (click)="openNew()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button style="background: #1d4e89; border: 1px solid #1d4e89" pButton pRipple
                        label="Xuất file Excel" icon="pi pi-upload" class="p-button-help button-radius"></button>
                </ng-template>
            </p-toolbar>

            <p-table [value]="hoadonnhaps" [paginator]="true" [rows]="10" [globalFilterFields]="[
                    'userId',
                    'nhaCungCapId',
                    'tongTien',
                    'trangThaiThanhToan'
                ]" [tableStyle]="{ 'min-width': '60rem' }" [(selection)]="selecteds" [rowHover]="true"
                currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} mục"
                [showCurrentPageReport]="true" [scrollable]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">{{ title }}</h5>
                        <span class="p-input-icon-left flex">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="keyword" (input)="onKeywordInput()"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-center">
                        <th class="text-center" pSortableColumn="userId">
                            Người nhập<p-sortIcon field="userId"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="nhaCungCapId">
                            Nhà cung cấp<p-sortIcon field="nhaCungCapId"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="tongTien">
                            Tổng tiền<p-sortIcon field="tongTien"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="baoHanh">
                            Trạng thái thanh toán<p-sortIcon field="baoHanh"></p-sortIcon>
                        </th>
                        <th class="text-center">Chức năng</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hoadonnhap>
                    <tr style="height: 100px">
                        <td class="text-center">
                            {{ hoadonnhap.tenNhanVien }}
                        </td>
                        <td class="text-center">
                            {{ hoadonnhap.tenNhaCungCap }}
                        </td>
                        <td class="text-center">
                            {{ hoadonnhap.tongTien | number }}
                        </td>
                        <td class="text-center">
                            <p *ngIf="hoadonnhap.trangThaiThanhToan === true">
                                Đã thanh toán
                            </p>
                            <p *ngIf="hoadonnhap.trangThaiThanhToan === false">
                                Chưa thanh toán
                            </p>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple icon="pi pi-pencil" style="margin-right: 5px"
                                class="p-button-rounded p-button-success me-2 action-button"
                                (click)="edit(hoadonnhap)"></button>
                            <button pButton pRipple icon="pi pi-print"
                                class="p-button-rounded p-button-primary action-button"
                                (click)="InHoaDon(hoadonnhap)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Tổng cộng có
                        {{ hoadonnhaps ? hoadonnhaps.length : 0 }} hóa đơn nhập.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="Dialog" [style]="{ width: '1050px' }" [header]="title" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field mb-3">
                    <label for="baoHanh">Nhà cung cấp</label>
                    <p-dropdown [options]="nhacungcap" [(ngModel)]="selectedNhaCungCapId" optionLabel="name"
                        [filter]="true" filterBy="name">
                    </p-dropdown>
                </div>
                <div class="field mb-3">
                    <label for="trangThaihoadonnhap">Trạng thái sản phẩm</label>
                    <p-dropdown [options]="actions" id="trangThaihoadonnhap" [(ngModel)]="selectAction"
                        optionLabel="name"></p-dropdown>
                </div>

                <div class="field mb-3" *ngFor="let parameter of orderDetail; let i = index">
                    <label class="mb-5" for="">Chi tiết hóa đơn {{ i + 1 }}</label>
                    <span class="p-float-label mb-4">
                        <p-dropdown [options]="sanpham" [(ngModel)]="parameter.selectedSanPhamId" optionLabel="name"
                            [filter]="true" filterBy="name">
                        </p-dropdown>
                        <label for="float-label">Sản phẩm</label>
                    </span>
                    <span class="p-float-label mb-4">
                        <p-autoComplete [(ngModel)]="parameter.soLuong" inputId="float-label"></p-autoComplete>
                        <label for="float-label">Số lượng nhập</label>
                    </span>
                    <span class="p-float-label mb-4">
                        <p-autoComplete [(ngModel)]="parameter.giaNhap" inputId="float-label"></p-autoComplete>
                        <label for="float-label">Giá nhập</label>
                    </span>
                </div>
                <div class="flex flex-wrap gap-3">
                    <p-button [style]="{
                            background: '#fff',
                            color: '#1D4E89',
                            border: '1px solid #1D4E89'
                        }" icon="pi pi-plus" (click)="addProductOrder()" label="Thêm chi tiết"></p-button>
                    <p-button [style]="{
                            background: '#fff',
                            color: '#EF4444',
                            border: '1px solid #BB0000'
                        }" icon="pi pi-trash" label="Xóa chi tiết" (click)="removeProductOrder(i)"></p-button>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hidenDialog()"></button>
                <button pButton pRipple label="{{ Save }}" icon="pi pi-check" class="p-button-text"
                    (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="DialogEdit" [style]="{ width: '1050px', height: '850px' }" [header]="title"
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field mb-3">
                    <label for="baoHanh">Nhà cung cấp</label>
                    <p-dropdown [options]="nhacungcap" [(ngModel)]="selectedNhaCungCapId" optionLabel="name"
                        [filter]="true" filterBy="name">
                    </p-dropdown>
                </div>
                <div class="field mb-3">
                    <label for="trangThaihoadonnhap">Trạng thái sản phẩm</label>
                    <p-dropdown [options]="actions" id="trangThaihoadonnhap" [(ngModel)]="selectAction"
                        optionLabel="name"></p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hidenDialog()"></button>
                <button pButton pRipple label="{{ Save }}" icon="pi pi-check" class="p-button-text"
                    (click)="update()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{ width: '450px', }"></p-confirmDialog>

        <p-dialog [(visible)]="visible" [style]="{ width: '120wv' }" header="Chi tiết hóa đơn nhập" [modal]="true"
            styleClass="p-fluid">
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <i class="fas fa-globe"></i> Eco Shop.
                            <small class="float-right">Ngày tạo: {{ hoadonnhap.createdAt }}</small>
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        Người nhập
                        <address>
                            <strong>{{ hoadonnhap.tenNhanVien }}</strong>
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        Nhà cung cấp
                        <address>
                            <strong>{{ hoadonnhap.tenNhaCungCap }}</strong>
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <b>Đơn hàng #{{ hoadonnhap.id }}</b><br>
                        <b>Phương thức thanh toán:</b> <span *ngIf="hoadonnhap.trangThaiThanhToan === true">
                            Đã thanh toán
                        </span>
                        <span *ngIf="hoadonnhap.trangThaiThanhToan === false">
                            Chưa thanh toán
                        </span>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá nhập</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of chiTietHoaDons">
                                    <td>{{ item.sanPhamId }}</td>
                                    <td>{{ item.giaNhap }}</td>
                                    <td>{{ item.soLuong }}</td>
                                    <td>{{ item.thanhTien }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <p class="lead">Phương thức thanh toán:</p>
                        <img src="assets/dist/img/credit/visa.png" alt="Visa">
                        <img src="assets/dist/img/credit/mastercard.png" alt="Mastercard">
                        <img src="assets/dist/img/credit/american-express.png" alt="American Express">
                        <img src="assets/dist/img/credit/paypal2.png" alt="Paypal">

                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango
                            imeem
                            plugg
                            dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                        </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Tổng tiền:</th>
                                    <td>{{ hoadonnhap.tongTien | number}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <a (click)="printFunction()" rel="noopener" target="_blank" class="btn btn-default"><i
                                class="fas fa-print"></i> Print</a>

                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</section>