<div class="columns-container">
  <div class="container" id="columns">
    <!-- page heading-->
    <h2 class="page-heading">
      <span class="page-heading-title"><img alt="fashion" src="assets/images/icon_books-stack-of-three.png" /> Chính
        sách
      </span>
    </h2>
    <!-- ../page heading-->
    <div class="page-content page-order">
      <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
        <!-- BEGIN PRIVATE POLICY -->
        <div id="payment-address" class="panel panel-default" *ngFor="let item of chinhsach; let i = index">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#policy-page" href="#payment-address-content{{ i + 1}}"
                class="accordion-toggle">
                <span class="fa fa-leaf"></span> {{ item.tieuDe }}
              </a>
            </h2>
          </div>
          <div id="payment-address-content1" class="panel-collapse collapse in">
            <div class="panel-body row">
              <div class="col-md-12 col-sm-12" id="content-container">
                <div style="font-style: italic">
                  <p style="text-align: justify" [innerHTML]="item.noiDung"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>