<footer id="footer">
  <div class="container">
    <!-- introduce-box -->
    <div id="introduce-box" class="row">
      <div class="col-md-3">
        <div id="address-box">
          <a href="#"><img src="assets/images/logo.png" alt="logo" /></a>

          <div id="address-list">
            <div class="tit-name">Địa chỉ:</div>
            <div class="tit-contain">999 Đường Lê Văn Hiến, Quận Ngũ Hành Sơn, Thành phố Đà Nẵng, Việt Nam.
            </div>
            <div class="tit-name">Điện thoại:</div>
            <div class="tit-contain">(+84) 511.3446.295</div>
            <div class="tit-name">Email:</div>
            <div class="tit-contain">ecoshop@gmail.com</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="introduce-title">CHĂM SÓC KHÁCH HÀNG</div>
            <ul id="introduce-support" class="introduce-list">
              <li> Thứ Hai - Thứ Sáu: 7am đến 8pm </li>
              <li>Thứ Bảy & Chủ Nhật: 7am đến 6pm</li>
              <li><a>Cách Mua Hàng</a></li>
              <li><a>Cách Thanh Toán</a></li>
              <li><a>Câu Hỏi Thường Gặp</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="introduce-title">Chính sách</div>
            <ul id="introduce-Account" class="introduce-list">
              <li><a>Chính sách Bảo mật</a></li>
              <li><a>Chính sách Thanh toán</a></li>
              <li><a>Chính sách Đổi trả</a></li>
              <li><a>Điều Khoản & Điều Kiện</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div id="contact-box">
          <div class="introduce-title">Đăng ký nhận tin từ Eco Shop</div>
          <div class="input-group" id="mail-box">
            <input type="text" placeholder="Địa chỉ email của bạn" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">OK</button>
            </span>
          </div><!-- /input-group -->
          <div class="introduce-title">Theo dõi chúng tôi</div>
          <div class="social-link">
            <ul class="social-icons">
              <li><a class="rss" data-original-title="rss" href="#"></a></li>
              <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
              <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
              <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
              <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
              <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
              <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
              <li><a class="skype" data-original-title="skype" href="#"></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div><!-- /#introduce-box -->


    <div id="footer-menu-box">
      <p class="text-center">Bản quyền &#169; 2016 Eco Shop. Đã đăng ký Bảo lưu mọi quyền.</p>
    </div><!-- /#footer-menu-box -->
  </div>
</footer>